body {
  min-width: 100%;
  margin: 0;
  overflow-x: hidden;
}

.home-page {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 250vh;
}

.section-container {
  width: 80%;
}

.popular {
  position: sticky;
  top: 70px;
  border: thin solid #2cf7cb;
  color: white;
  font-family: "Amazon Ember", sans-serif;
  padding: 10px 20px;
  text-align: center;
  margin-left: 1500px;
  margin-bottom: 50px;
}

.popular_moviesHeading {
  position: sticky;
  top: 110px;
  color: white;
  font-family: "Amazon Ember", sans-serif;
  padding: 10px 20px;
  font-size: xx-large;
  text-align: center;
  margin-left: -400px;
}

.popular_showsHeading {
  position: sticky;
  top: 150px;
  color: white;
  font-family: "Amazon Ember", sans-serif;
  padding: 10px 20px;
  font-size: xx-large;
  text-align: center;
  margin-left: -400px;
}

.scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
}

.content-container {
  display: inline-block;
  max-width: 36.4%;
}

@media only screen and (max-width: 390px) {
  body {
    min-width: 100%;
    margin: 0;
    overflow-x: hidden;
  }

  .home-page {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 430vh;
  }

  .section-container {
    width: 100%;
  }

  .popular {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 70px;
    border: thin solid #2cf7cb;
    color: white;
    font-family: "Amazon Ember", sans-serif;
    padding: 10px 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  .popular_moviesHeading,
  .popular_showsHeading {
    position: sticky;
    color: white;
    font-family: "Amazon Ember", sans-serif;
    padding: 10px 20px;
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .popular_moviesHeading {
    top: 110px;
  }

  .popular_showsHeading {
    top: 150px;
  }

  .scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
  }

  .content-container {
    display: inline-block;
    max-width: 100%;
  }
}
