ul.horizontal-scroll {
  list-style: none;
  display: inline-flex;
  padding: 0;
  margin-left: 2300px;
  white-space: nowrap;
  gap: 0px;
  align-items: center;
  width: 100%;
  overflow: auto;
  scroll-snap-type: x proximity;
  padding-inline-start: 16px;
}

ul.horizontal-scroll li {
  flex: 0 0 auto;
  text-align: center;
  min-width: 200px;
  padding: 5px;
  background-color: #0e0e0e;
  border-radius: 8px;
  margin: 0px;
  scroll-snap-align: start;
}

ul.horizontal-scroll li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

ul.horizontal-scroll li img {
  max-width: 100%;
  height: auto;
  width: fit-content;
}

ul.horizontal-scroll::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

ul.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
ul.shows_horizontal-scroll::before {
  content: "";
  display: block;
  width: 10px;
  background: #0e0e0e;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

ul.shows_horizontal-scroll::before:hover {
  background-color: #555;
}

@media screen and (max-width: 390px) {
  .popular_container {
    width: 19.5%;
  }
}
