body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0e;
  color: #fff;
  padding: 5px 10px;
  width: auto;
  max-width: 1200px; /* or whatever maximum width you want */
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.header h1 {
  cursor: pointer;
  background-color: #2cf7cb;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 8px 0px; /* top/bottom padding is 8px, left/right padding is 2px */

  margin-left: 40px;
  height: 20px;
  width: 80px;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.signIn {
  margin-left: 30px;
}

.header nav ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul.list li {
  margin-right: 10px;
}

.searchBar[type="search"] {
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #fff;
  border: thin solid #2cf7cb;
  width: 600px;
  border-radius: 5px;
  height: 36px;
  margin-left: 10px;
  color: black;
}

.header nav ul.list li a {
  color: #fff;
}
.header nav ul.list li a:hover {
  color: #2cf7cb;
}
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px; /* Or however wide you want the drawer to be */
  height: 100%;
  background-color: #333;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.drawer.open {
  transform: translateX(0);
  animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 5px; /* Add margin to the bottom */
  padding: 10px;
}

/* Add hover effect to the close button */
.close-button:hover {
  color: #2cf7cb;
  border: thin solid white;
}
.close-button:active {
  color: #2cf7cb;
  border: thin solid white;
}

/* MainNavigation.css */
.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
  margin-bottom: 10px;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out; /* Adjust the transition duration and easing as needed */
}

/* Add a keyframe animation for smoother sliding */
@keyframes slide-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px; /* Adjust to a suitable maximum height */
  }
}

.open .dropdown-content {
  animation: slide-down 0.5s ease-in-out forwards; /* Apply the keyframe animation */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  border-bottom: 1px solid white; /* Add a bottom border */
}

/* Style the dropdown button when open */
.open .movies-dropdown-button,
.open .tvshows-dropdown-button {
  color: white;
  background-color: #333;
  margin-top: 5px;
}
.open .movies-dropdown-button:hover,
.open .tvshows-dropdown-button:hover {
  color: #2cf7cb;

  border: thin solid white;
}
.open .movies-dropdown-button.clicked,
.open .tvshows-dropdown-button.clicked {
  color: #2cf7cb;
  background-color: #333;
}

/* Style the next menu item when open */
.open + .menu-item {
  margin-top: 10px; /* Adjust the margin to create space for the dropdown */
}

.menu_button:hover {
  border-color: #2cf7cb;
}
