body {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0e;
  color: #fff;
  padding: 5px 10px;
  width: auto;
  max-width: 1200px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}
.header h1 {
  cursor: pointer;
  background-color: #2cf7cb;
  border-radius: 5px;
  text-align: center;
  color: #000000;
  padding: 8px 0px;
  margin-left: 40px;
  height: 20px;
  width: 80px;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.signIn {
  margin-left: 30px;
}

.header nav ul.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header nav ul.list li {
  margin-right: 10px;
}

.searchBar[type="search"] {
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: #fff;
  border: thin solid #2cf7cb;
  width: 600px;
  border-radius: 5px;
  height: 36px;
  margin-left: 10px;
  color: black;
}

.header nav ul.list li a {
  color: #fff;
}
.header nav ul.list li a:hover {
  color: #2cf7cb;
}
.drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.drawer.open {
  transform: translateX(0);
  animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 5px;
  padding: 10px;
}

.close-button:hover {
  color: #2cf7cb;
  border: thin solid white;
}
.close-button:active {
  color: #2cf7cb;
  border: thin solid white;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  position: relative;
  margin-bottom: 10px;
}

.dropdown-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

@keyframes slide-down {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  }
}

.open .dropdown-content {
  animation: slide-down 0.5s ease-in-out forwards;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  border-bottom: 1px solid white;
}

.movies-dropdown-button {
  color: white;
  background-color: #333;
}
.movies-dropdown-button:hover {
  color: #2cf7cb;

  border: thin solid white;
  border-radius: 5px;
  padding: 5px;
}
.genre_title:hover {
  color: #2cf7cb;

  border: thin solid white;
  border-radius: 5px;
  padding: 5px;
}
.open .movies-dropdown-button.clicked {
  color: #2cf7cb;
  background-color: #333;
}

.open + .menu-item {
  margin-top: 10px;
}

.menu_button:hover {
  border-color: #2cf7cb;
}
.watchlist_access_message {
  color: red;
}
@media only screen and (max-width: 600px) {
  .header {
    flex-direction: row;
    justify-content: center;
    width: 10%;
    margin-left: 100px;
    zoom: 0.6;
  }

  .header h1 {
    width: 100%;
    text-align: left;
    padding: 8px;
  }

  .menu_button {
    margin-left: -230px;
  }

  .signIn {
    text-align: right;

    margin-left: 800px;
  }

  .searchBar[type="search"] {
    width: 2100%;
    text-align: center;
  }

  body {
    overflow-x: hidden;
  }

  .header.homepage {
    flex-direction: row;
    justify-content: center;
    width: 10%;

    zoom: 0.6;
    margin-left: -2000px;
  }
}
