.tsccomment_section form {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: 25%;
}

.tsccomment_section input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  background-color: white;
  border: thin solid #2cf7cb;
  border-radius: 7px;
  color: black;
}
.tsccomment_section input[type="text"]:hover {
  background-color: rgb(202, 202, 202);
}

.tsccomment_section button[type="submit"] {
  background-color: #27dfb7;
  color: black;
  border: thin solid white;
}

.tsccomment_section button[type="submit"]:hover {
  background-color: #22c5a2;
}

.tsccomment_section ul {
  background-color: rgb(37, 37, 37);
  padding: 10px;
  margin-left: 15%;
  width: 70%;
  list-style-type: none;
}
.tsccomment_section ul li {
  border-bottom: thin solid white;
  margin-bottom: 10px;
  font-size: medium;
  text-align: left;
  padding-left: 0%;
}
.tsccomment_heading {
  text-align: center;
}
